@font-face {
  font-family: Montserrat;
  src: url("assets/fonts/Montserrat-ExtraLight.ttf");
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
}

.main {
  display: flex;
  flex-flow: column wrap;
  flex-grow: (1, 2);
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  list-style-type: none;
}

.nav-item {
  transition: .3s;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.page-title {
  font-family: "Montserrat", sans-serif;
  src: url("assets/fonts/Monserrat-Regular");
  font-weight: 400;

}

.contacts {
  background-color: rgb(239, 193, 191);
}

.about {

}

.strengths {

}

.skills {

}

.code {

}

.experience {

}

.education {

}

.images {
  border-radius: 2000px;
}